<item-card>
  <img class="item-card-thumbnail" src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg">
  <div style="flex-grow: 1;">
    <a href="/posts/{{ id }}"><card-header>{{ title }}</card-header></a>
    <div>Created At: {{ format_date createdAt }}</div>
    <div>By: {{ 'author.username' }}</div>
  </div>
</item-card>