<card>
  <card-header>Login</card-header>
  <h4>Username</h4>
  <div><input type="text" id="login-username"></div>
  <h4>Password</h4>
  <div style="margin-bottom: 1rem;"><input type="password" id="login-password"></div>

  <button onclick="doLogin();">Login</button>
</card>

<card>
  <card-header>Sign Up</card-header>
  <h4>Username</h4>
  <div><input type="text" id="signup-username"></div>
  <h4>Password</h4>
  <div style="margin-bottom: 1rem;"><input type="password" id="signup-password"></div>

  <button onclick="doSignup();">Sign Up</button>
</card>

<script src="assets/js/auth.js"></script>