<card>
  <card-header>Login</card-header>
  <div style="margin-top: .5rem; margin-bottom: .5rem"><strong>Username</strong></div>
  <div style="display: flex;"><input style="flex: 1;" type="text" id="login-username"></div>
  <div style="margin-top: .5rem; margin-bottom: .5rem"><strong>Password</strong></div>
  <div style="display: flex;"><input style="flex: 1;" type="password" id="login-password"></div>

  <button id="login-btn" onclick="doLogin();" style="margin-top: 1rem;">Login</button>
</card>

<card>
  <card-header>Sign Up</card-header>
  <div style="margin-top: .5rem; margin-bottom: .5rem"><strong>Username</strong></div>
  <div style="display: flex;"><input style="flex: 1;" type="text" id="signup-username"></div>
  <div style="margin-top: .5rem; margin-bottom: .5rem"><strong>Password</strong></div>
  <div style="display: flex;"><input style="flex: 1;" type="password" id="signup-password"></div>

  <button id="signup-btn" onclick="doSignup();" style="margin-top: 1rem;">Sign Up</button>
</card>

<script src="assets/js/auth.js"></script>